{{- $username := "mawev" -}}
{{- $useremail := "67217921+mawev@users.noreply.github.com" -}}

sourceDir = "{{ .chezmoi.workingTree }}"
verbose = true

[ data ]
    name = "{{ $username }}"
    email = "{{ $useremail }}"
    editor = "nvim"

[diff]
    pager = "delta --line-numbers"

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}"]
