/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Fonts
 *
 **/

* {
    font: "FantasqueSansM Nerd Font Propo 12";
}

element-text.selected.active{
    font: "FantasqueSansM Nerd Font Propo bold 12";
}