// This config is in the KDL format: https://kdl.dev

spawn-at-startup "waybar"
spawn-at-startup "swaync"
spawn-at-startup "hypridle"

spawn-at-startup "xwayland-satellite"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "ydotoold"

// ANCHOR Apps
spawn-at-startup "sh" "-c" "$CARGO_HOME/bin/niri-switch-daemon"
spawn-at-startup "swww-daemon" "--namespace" "bg"
spawn-at-startup "swww-daemon" "--namespace" "bg_overview"
spawn-at-startup "bitwarden-desktop"
spawn-at-startup "mcontrolcenter"
spawn-at-startup "blueman-applet"
spawn-at-startup "nm-applet"
spawn-at-startup "copyq" "--start-server"
spawn-at-startup "niri-float-sticky"
spawn-at-startup "ags" "run"
spawn-at-startup "udiskie" "--no-automount" "--smart-tray"
spawn-at-startup "sh" "-c" "$CARGO_HOME/bin/redland" "--lat" "8.7" "--lon" "78.0" "--duration" "3600"
spawn-at-startup "sh" "-c" "$CARGO_HOME/bin/niri-session-manager"

// ANCHOR Scripts
spawn-at-startup "sh" "-c" "$XDG_DATA_HOME/scripts/brightness-control.sh" "init"
spawn-at-startup "sh" "-c" "$XDG_DATA_HOME/scripts/random-wallpaper.sh"

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24

    hide-when-typing
    hide-after-inactive-ms 5000
}

include "inputs.kdl"
include "outputs.kdl"
include "env.kdl"
include "rules.kdl"
include "layouts.kdl"
include "animations.kdl"
include "keybindings.kdl"
include "theme.kdl"