environment {

    // --- GTK / Icons / Theme ---
    // CHANGE HERE
    GTK_THEME "{{ (ds "data").theme }}"
    // CHANGE HERE
    ICON_THEME "{{ (ds "data").icon_color }}"
    COLOR_SCHEME "prefer-dark"

}

layout {
    insert-hint {
        // off
        gradient from="{{ (ds "data").color_hex }}80" to="{{ (ds "data").bg_color_hex }}D0" angle=60 relative-to="workspace-view"
    }
}
