// This config is in the KDL format: https://kdl.dev

// SECTION Startup

spawn-at-startup "waybar"
spawn-at-startup "swaync"
spawn-at-startup "hypridle"

spawn-at-startup "xwayland-satellite"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "ydotoold"

// ANCHOR Apps
spawn-at-startup "sh" "-c" "$CARGO_HOME/bin/niri-switch-daemon"
spawn-at-startup "swww-daemon" "--namespace" "bg"
spawn-at-startup "swww-daemon" "--namespace" "bg_overview"
spawn-at-startup "bitwarden-desktop"
spawn-at-startup "mcontrolcenter"
spawn-at-startup "blueman-applet"
spawn-at-startup "nm-applet"
spawn-at-startup "copyq" "--start-server"
spawn-at-startup "niri-float-sticky"
spawn-at-startup "ags" "run"
spawn-at-startup "udiskie" "--no-automount" "--smart-tray"
spawn-at-startup "sh" "-c" "$CARGO_HOME/bin/redland" "--lat" "8.7" "--lon" "78.0" "--duration" "3600"
spawn-at-startup "sh" "-c" "$CARGO_HOME/bin/nirinit"


// ANCHOR Scripts
spawn-at-startup "sh" "-c" "$XDG_DATA_HOME/scripts/brightness-control.sh" "init"
spawn-at-startup "sh" "-c" "$XDG_DATA_HOME/scripts/random-wallpaper.sh" "$HOME/.dotMess/wallpapers-gruvbox"

// !SECTION

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

// Optionally, disable the workspace shadows in the overview.
overview {
    workspace-shadow {
        off
    }
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// SECTION Environment

environment {
    // --- Terminals & Locks ---
    TERMINAL "wezterm"
    LOCK "hyprlock"
    LOCKSCREEN "hyprlock"

    // --- GTK / Icons / Theme ---
    // CHANGE HERE
    GTK_THEME "{{ (ds "data").theme }}"
    // CHANGE HERE
    ICON_THEME "{{ (ds "data").icon_color }}"
    COLOR_SCHEME "prefer-dark"

    // --- Cursor ---
    CURSOR_THEME "Bibata-Modern-Classic"
    CURSOR_SIZE "24"
    XCURSOR_THEME "Bibata-Modern-Classic"
    XCURSOR_SIZE "24"

    // --- Fonts ---
    FONT "0xProto Nerd Font Propo"
    FONT_SIZE "11"
    DOCUMENT_FONT "0xProto Nerd Font Propo"
    DOCUMENT_FONT_SIZE "10"
    MONOSPACE_FONT "0xProto Nerd Font Mono"
    MONOSPACE_FONT_SIZE "9"
    NOTIFICATION_FONT "0xProto Nerd Font Propo"
    FONT_ANTIALIASING "rgba"
    FONT_HINTING "full"

    // --- Toolkit backends ---
    GDK_BACKEND "wayland,x11,*"
    SDL_VIDEODRIVER "wayland"
    CLUTTER_BACKEND "wayland"

    // --- XDG Session info ---
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    XDG_SESSION_DESKTOP "niri"

    // --- Qt ---
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_STYLE_OVERRIDE "kvantum"

    // --- Mozilla / Electron / Misc ---
    MOZ_ENABLE_WAYLAND "1"
    GDK_SCALE "1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    WAYLAND_DISPLAY "wayland-1"

    // --- Input methods ---
    QT_IM_MODULE "fcitx5"
    QT_IM_MODULES "wayland,fcitx"
    XMODIFIERS "@im=fcitx5"
    SDL_IM_MODULE "fcitx5"
    INPUT_METHOD "fcitx"

    // --- Editor ---
    EDITOR "nvim"
}
// !SECTION

// SECTION Input

input {
    // ANCHOR Keyboard
    keyboard {
        xkb {
            options "grp:win_space_toggle,compose:ralt,numpad:pc"
            // localectl set-x11-keymap.
        }

        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }

    // ANCHOR Touchpad
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        drag-lock
        natural-scroll
        accel-speed 0.5
        accel-profile "adaptive"
        scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

    warp-mouse-to-focus
    // focus-follows-mouse max-scroll-amount="0%"

    workspace-auto-back-and-forth
    mod-key "Super"
}
// !SECTION

// workspace "scratchpad"
// workspace "main"

// SECTION Output

// ...if HDMI-A-1 wasn't connected, focus DP-2 instead.
output "DP-1" {
    focus-at-startup
}

// Focus HDMI-A-1 by default.
output "HDMI-A-1" {
    focus-at-startup
}

output "eDP-1" {
    // off

    // mode "1920x1080@120.030"

    // scale 2

    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    // transform "normal"
    focus-at-startup
}
// !SECTION

// SECTION Windows & Layouts
// SECTION Layout Styles

layout {
    gaps 7

    background-color "#000"
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.9999
        // fixed 1920
    }

    preset-window-heights { 
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.9999
        // fixed 1080
    }

    default-column-width { proportion 0.5; }
    // default-column-width {}

    // ANCHOR Border

    focus-ring {
        // Uncomment this line to disable the focus ring.
        off

        width 3

        active-color "#7fc8ff"
        inactive-color "#505050"

        active-gradient from="#32361a" to="#333e34" angle=45
        inactive-gradient from="#1d2021" to="#282828" angle=45 relative-to="workspace-view"
    }

    border {
        off

        width 2
        active-color "#ffc87f"
        inactive-color "#505050"

        // Color of the border around windows that request your attention.
        urgent-color "#9b0000"
        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // ANCHOR Shadow
    shadow {
        on
        draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    tab-indicator {
        place-within-column
        gaps-between-tabs 4
    }

    struts {
        // left 1
        // right 1
        // top 1
        // bottom 1
    }
}

// ANCHOR CSD
prefer-no-csd
    // Alternatively, you can override it with a window rule called
    // `draw-border-with-background`.


// !SECTION

// SECTION Layer Rules
layer-rule {
    match namespace="rofi"

    geometry-corner-radius 4
    opacity 0.95
    
    shadow {
        on
        softness 1
        spread 1000
        draw-behind-window true
    }
}

layer-rule {
    match namespace="osd"

    geometry-corner-radius 4
    opacity 0.99
    
    shadow {
        on
        softness 1000
        spread 2
        draw-behind-window true
    }
}

layer-rule {
    match namespace="waybar"
    match namespace="swaync-control-center"

    geometry-corner-radius 4
    opacity 0.99
    
    shadow {
        off
        softness 100
        spread 20
        draw-behind-window true
    }
}

layer-rule {
    match namespace="^notifications$"
    match namespace="^swaync-notification-window$"

    block-out-from "screencast"

    shadow {
        on
        softness 1000
        spread 0
        draw-behind-window true
    }
}

layer-rule {
    match namespace="^swww-daemonbg$"
    place-within-backdrop false
}

// Put swaybg inside the overview backdrop.
layer-rule {
    match namespace="^swww-daemonbg_overview$"
    place-within-backdrop true
}

// !SECTION

// SECTION Window Rules

// ANCHOR Floating

window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match title="^(About Mozilla Firefox)$"
    match app-id="^(firefox)$" title="^(Picture-in-Picture)$"
    match app-id="^(zen)$" title="^(Picture-in-Picture)$"

    match app-id="^(org.kde.dolphin)$" title="^(Progress Dialog — Dolphin)$"
    match app-id="^(org.kde.dolphin)$" title="^(Copying — Dolphin)$"

    match app-id="^(nemo)$" title="^(.*Properties)$"
    match app-id="^(firefox)$" title="^(Library)$"
    match app-id="^(vlc)$"
    match app-id="^(mpv)$"
    match app-id="^(kvantummanager)$"
    match app-id="^(qt5ct)$"
    match app-id="^(qt6ct)$"
    match app-id="^(nwg-look)$"
    match app-id="^(org.kde.ark)$"
    match app-id="^(org.pulseaudio.pavucontrol)$"
    match app-id="^(blueman-manager)$"
    match app-id="^(nm-applet)$"
    match app-id="^(nm-connection-editor)$"
    match app-id="^(org.kde.polkit-kde-authentication-agent-1)$"
    match app-id="^(Signal)$"
    match app-id="^(com.github.rafostar.Clapper)$"
    match app-id="^(app.drey.Warp)$"
    match app-id="^(net.davidotek.pupgui2)$"
    match app-id="^(yad)$"
    match app-id="^(eog)$"
    match app-id="^(io.github.alainm23.planify)$"
    match app-id="^(io.gitlab.theevilskeleton.Upscaler)$"
    match app-id="^(com.github.unrud.VideoDownloader)$"
    match app-id="^(io.gitlab.adhami3310.Impression)$"
    match app-id="^(io.missioncenter.MissionCenter)$"
    match app-id="^(org.qbittorrent.qBittorrent)$"
    
    open-floating true
}

// ANCHOR Copyq

window-rule {
    match app-id="^(com.github.hluk.copyq)$"

    open-floating true

    default-floating-position x=100 y=100 relative-to="bottom-right"
    default-column-width { fixed 600; }
    default-window-height { fixed 300; }
}

// ANCHOR Secrets

window-rule {
    // match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    // match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match title="Bitwarden"

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

window-rule {
    opacity 0.95
    geometry-corner-radius 6
    clip-to-geometry true
    default-column-width {}
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#db4740"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#db4740"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#db4740"
        inactive-color "#7d0d2d"
    }
}

// !SECTION 

// SECTION Animation

animations {

    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    slowdown 1.5

}
// !SECTION Animation

// !SECTION

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24

    hide-when-typing
    hide-after-inactive-ms 5000
}

// SECTION Keybindings

binds {

    Mod+Shift+Slash { show-hotkey-overlay; }

    // ANCHOR App Launch
    Mod+Alt+Return hotkey-overlay-title="Open a Terminal: WezTerm" { spawn "wezterm"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen: hyprlock" { spawn "hyprlock"; }

    Super+Alt+C hotkey-overlay-title="Open Code Editor: VS Codium" { spawn "codium" "--password-store='gnome-libsecret'"; }
    Super+Alt+B hotkey-overlay-title="Open a Browser: Zen Browser" { spawn "zen-browser"; }
    Super+Alt+F hotkey-overlay-title="Open File Manager: Nautilus" { spawn "nautilus" "-w"; }
    Super+Alt+V hotkey-overlay-title="Open Clipboard Manager: CopyQ" { spawn "copyq" "show"; }
    Super+Alt+N hotkey-overlay-title="Open PKM: Obsidian" { spawn "obsidian"; }

    Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }

    // ANCHOR Hardware Control
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    // XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "$XDG_DATA_HOME/scripts/brightness-control.sh all + 5"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "$XDG_DATA_HOME/scripts/brightness-control.sh all - 5"; }
    Ctrl+XF86MonBrightnessUp allow-when-locked=true { spawn-sh "$XDG_DATA_HOME/scripts/brightness-control.sh focused + 5"; }
    Ctrl+XF86MonBrightnessDown allow-when-locked=true { spawn-sh "$XDG_DATA_HOME/scripts/brightness-control.sh focused - 5"; }

    // ANCHOR Window Specific
    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Up    { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+L     { move-column-right; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Mod+KP_Home { focus-column-first; }
    Mod+KP_End  { focus-column-last; }
    Mod+Ctrl+KP_Home { move-column-to-first; }
    Mod+Ctrl+KP_End  { move-column-to-last; }

    // ANCHOR Monitor Specific
    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }

    // ANCHOR Workspace Specific
    // And you can also move a whole workspace to another monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    
    Mod+KP_Page_Down      { focus-workspace-down; }
    Mod+KP_Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+KP_Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+KP_Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // Switches focus between the current and the previous workspace.
    Mod+Tab { focus-workspace-previous; }

    // ANCHOR Move & Resize
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    // Mod+R { switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    Mod+R { switch-preset-column-width-back; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+W { toggle-column-tabbed-display; }

    // ANCHOR Utilities
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }
    Ctrl+Shift+Print { spawn-sh "$XDG_CONFIG_HOME/rofi/screenshot/screenshot.sh"; }

    Mod+Shift+C { spawn-sh "niri msg pick-color | wl-copy"; }

    Mod+P { spawn-sh "$XDG_CONFIG_HOME/rofi/screenproject/screenproject.sh"; }

    // ROFI
    Mod+Space {spawn-sh "pkill -x rofi || rofi -terminal wezterm -modi 'drun,run,ssh,filebrowser' -show drun"; }
    Mod+Alt+Space {spawn-sh "pkill -x rofi || rofi -terminal wezterm -modi ':~/.config/rofi/rofi-web-search/rofi-web-search.py,calc' -show "; }

    Alt+Tab { spawn "/home/madwayl/.local/share/cargo/bin/niri-switch"; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { spawn-sh "sh -c 'systemctl --user --no-block stop niri.service'"; }
    Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }
}

// ANCHOR Switch Events
switch-events {
    lid-close {spawn "hyprlock";}
}

// !SECTION
