@use "../../themes/gruvbox-material" as *;

levelbar {

    trough {
        background: linear-gradient(-60deg, ${{ (ds "data").bg_color }} 0%, rgba(18, 18, 18, .95)) 20%;
    }

    block.filled {
        background: linear-gradient(60deg, $o-{{ (ds "data").color }} 0%, ${{ (ds "data").color }}-sl1 80%);
    }

    block.low {
        background: linear-gradient(60deg, $o-{{ (ds "data").color }} 0%, ${{ (ds "data").color }} 80%);
    }

    block.high {
        background: linear-gradient(60deg, $o-{{ (ds "data").color }} 0%, ${{ (ds "data").color }} 80%);
    }

}