@import "./colors/gruvbox.rasi"

* {
    transparent:					#ffffff00;
	window-background:				 Black/35%;
    background:     @bg1;
    // CHANGE HERE    
    background-alt: @{{ (ds "data").bg_color }};
    foreground:     @fg1;

    // CHANGE HERE    
    selected:       @{{ (ds "data").color }}; 
    // CHANGE HERE    
    active:         @{{ (ds "data").color }}-s1;
    urgent:         @red-sl1;
}