.notification-row .notification-background .notification .notification-action {
    /* CHANGE HERE */
    background-color: @orange-sl1;

}

.notification-background .notification.normal,
.notification-background .notification.low {
    /* CHANGE HERE */
    background: @bg-visual-orange;
}

.widget-dnd>switch:checked {
    /* CHANGE HERE */
    background: @orange;
    /* CHANGE HERE */
    border: 1px solid @orange;
}

.widget-buttons-grid>flowbox>flowboxchild>button:checked {
    /* CHANGE HERE */
    background: @orange;
}

.widget-buttons-grid>flowbox>flowboxchild>button:checked:hover {
    /* CHANGE HERE */
    background: linear-gradient(60deg, @o-orange, @orange, @orange-s1);
}
.widget-backlight highlight,
.widget-volume highlight {
    /* CHANGE HERE */
    background-color: @orange;
}

.widget-backlight trough slider,
.widget-volume trough slider {
    /* OnePlus McClaren edition Orange accent */
    /* CHANGE HERE */
    color: @orange;
}