spawn-at-startup "systemctl" "--user" "import-environment" "SSH_AUTH_SOCK"
spawn-at-startup "valent" "--gapplication-service"

window-rule {
  match app-id=r"Valent" // ID of presentation pointer overlay
  open-floating true
  open-fullscreen false
  default-floating-position x=0 y=0 relative-to="top-left"

  // Adjust these to your monitor's resolution
  min-width 1920
  min-height 1080

  // Optionally customize opacity of pointer
  // opacity 1.0

  tiled-state true

  focus-ring {
    off
  }
  border {
    off
  }
  shadow {
    off
  }
  draw-border-with-background false
}

environment {

    SSH_AUTH_SOCK "/run/user/1000/gcr/ssh"

}
