@keyframes live-blink {
    to {
        background-color: @bg_dim;
        color: @fg0;
    }
}


@keyframes battery-rotateGradient {
    0% {
        background: linear-gradient(0deg, @o-brgreen 0%, @green 100%);
    }

    25% {
        background: linear-gradient(90deg, @o-brgreen 20%, @green 80%);
    }

    50% {
        background: linear-gradient(180deg, @o-brgreen 30%, @green 60%);
    }

    75% {
        background: linear-gradient(270deg, @o-brgreen 20%, @green 80%);
    }

    100% {
        background: linear-gradient(360deg, @o-brgreen 0%, @green 100%);
    }
}

@keyframes blink {
    to {
        background-color: @bg_dim;
        color: @fg0;
    }
}

@keyframes wsNormalFade {
    0% {
        background-color: alpha(@yellow, 0.2);
    }

    50% {
        background-color: alpha(@o-bryellow, 0.1);
    }

    100% {
        background-color: alpha(@yellow, 0.2);
    }
}