// This config is in the KDL format: https://kdl.dev

spawn-at-startup "xwayland-satellite"

// ANCHOR Apps
spawn-at-startup "mcontrolcenter"
// spawn-at-startup "blueman-applet"
// spawn-at-startup "nm-applet"
spawn-at-startup "niri-float-sticky"
spawn-at-startup "udiskie" "--no-automount" "--smart-tray"
spawn-at-startup "nirinit"
spawn-at-startup "gnome-keyring-daemon" "--start"

// Clipboard history
// spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24

    hide-when-typing
    hide-after-inactive-ms 5000
}

config-notification {
    disable-failed
}

debug {
    honor-xdg-activation-with-invalid-serial
}

include "inputs.kdl"
include "outputs.kdl"
include "envs.kdl"
include "rules.kdl"
include "layouts.kdl"
include "animations.kdl"
include "binds.kdl"

include "specs/dms.kdl"
include "specs/valent.kdl"
