
// SECTION Output

output "Chimei Innolux Corporation 0x15E7 Unknown" {
    // off
    mode "1920x1080@60.001"
    scale 1.0
    transform "normal"
    position x=960 y=2160
    variable-refresh-rate on-demand=true
    focus-at-startup
    // backdrop-color "#001100"

    hot-corners {
        // off
        // top-left
        // top-right
        // bottom-left
        bottom-right
    }

}

// !SECTION

include optional=true "./displays/l32p.kdl"
