
[Desktop Entry]
Name=Obsidian
Comment=Knowledge base that works on local Markdown files
Exec=bash -c "~/.bin/Obsidian.AppImage --ozone-platform=wayland --ozone-platform-hint=auto %U"
Icon=obsidian
Type=Application
StartupNotify=true
Terminal=false
Categories=Utility;TextEditor;Office;
MimeType=x-scheme-handler/obsidian;
