@keyframes button_activate {
    from {
        opacity: .3
    }

    to {
        opacity: 1.;
    }
}

@keyframes blink {
    to {
        background-color: @bg_dim;
    }
}


@keyframes wiggly-rotateGradient {
    0% {
        background: linear-gradient(0deg, @green_s1 10%, @green 700%);
    }

    25% {
        background: linear-gradient(90deg, @green_sl1 20%, @green 80%);
    }

    50% {
        background: linear-gradient(180deg, @green 10%, @green_s1 70%, @aqua_s1);
    }

    75% {
        background: linear-gradient(270deg, @green_sl1 20%, @green 80%);
    }

    100% {
        background: linear-gradient(360deg, @green_s1 10%, @green 90%);
    }
}


@keyframes urgent-rotateGradient {
    0% {
        background: linear-gradient(0deg, @bg_red 0%, @purple 100%);
    }

    25% {
        background: linear-gradient(90deg, @bg_red 20%, @purple 80%);
    }

    50% {
        background: linear-gradient(180deg, @bg_red 30%, @purple 60%);
    }

    75% {
        background: linear-gradient(270deg, @bg_red 20%, @purple 80%);
    }

    100% {
        background: linear-gradient(360deg, @bg_red 0%, @purple 100%);
    }
}


@keyframes long-gradient {
    0% {
        background-position: 0% 100%;
    }

    10% {
        background-position: 10% 90%;
    }

    20% {
        background-position: 20% 80%;
    }

    30% {
        background-position: 30% 70%;
    }

    40% {
        background-position: 40% 60%;
    }

    50% {
        background-position: 50% 50%;
    }

    60% {
        background-position: 60% 40%;
    }

    70% {
        background-position: 70% 30%;
    }

    80% {
        background-position: 80% 20%;
    }

    90% {
        background-position: 90% 10%;
    }

    100% {
        background-position: 100% 0%;
    }
}